* {
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 767px) {
    .sidebar {
      display: none;
    }
   nav.navbar,
    main,
    footer {
      margin-left: 0 !important;
      width: 100% !important;
    }

    .content-container {
      margin-left: 0 !important;
      width: 100% !important;
    }
  }

  .ms-topbar {
  margin-left: 250px;
}

.navbartop {
  display: flex; 
  align-items: center; 
  gap: 15px;
}
.navbartop a {
  text-decoration: none;
}

.navbartop a:last-of-type {
  margin-right: 5px;
}

.navOffcanva a {
  padding-left: 10px;
  border-radius: 5px;
  color: white;

}

.offcanvas {
  background-color: #18122B;
  /* cor de fundo do offcanva */
}

.bgSidebar{
  background-color: #393E46;
  /* cor de fundo do offcanva */
}

.sidebarEsq{
  width: 250px; 
  background-color: #222831; 
  position: fixed;
   z-index: 1000; 
   height: 100%;
   /* sidebar esquerda */
}

.container-fluid a {
  color: white;
  margin-left: 10px;
}

.contPrincipal {
    margin-left: 250px;
}

.containerURL {
  max-width: 600px; 
  width: 100%; 
  background-color: #222831; 
  border-radius: 20px; 
  padding: 2rem; 
  border: 1px solid #444;
}

.containerURL ul {
   display: flex; 
   align-items: center; 
   margin-left: 37px; 
   justify-content: center; 
   border-bottom-color: #393E46;
}

.containerURL ul li a{
  border: none; 
  text-decoration: none; 
  color: white;
}

.textoURL{
  font-weight: bold; padding-bottom: 10px;
}

.fixed-top {
  background-color: #222831;
}

.navbar-toggler {
  color: #fff;
}

.navbar-toggler-icon {
  color: #fff;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.offcanvas {
  background-color: #0d1117;
  color: white;
}

.scroll {
  height: 600px;
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
  width: 10px;
  /* Largura da barra */
}

.scroll::-webkit-scrollbar-track {
  background: #888;
  /* Fundo da barra */
  border-radius: 5px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Cor da "alça" de rolagem */
  border-radius: 5px;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.logoBoa {
  position: relative;
  left: 77px;
  bottom: 7px;
  margin-bottom: 20px;
  width: 25px; 
  filter: invert(1); 
}

.loginPage {
  position: relative;
  left: 0px;
}

.nav-tabs .nav-link:hover {
  border: none;
  background-color: #393E46;
  color: #fff;
  cursor: pointer;
}

.offcanvas .nav-link:hover {
  background-color: #393E46;
  color: #fff;
  border-radius: 5px;
}

.navbar-toggler:hover {
  background-color: #393E46;
  border-radius: 5px;
}

.nav-link:last-child {
  margin-right: 10px;

}

footer {
  margin-left: 250px; 
  width: calc(100% - 250px); 
  position: fixed; 
  bottom: 0; 
  background-color: #222831;
}