* {
    font-family: Poppins;
}


html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #000 0%, #161616 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerLogin {
    height: 80%;
    box-shadow: 0 16px 40px 0 rgba(0, 0, 0, 0.9);
    padding: 0px;
    border-radius: 20px;
}

.textoLogin {
  width: 35%;
  padding-bottom: 10%;
}

.textoLogin input{
  width: 90%;
  border-radius: 5px;
  border: 1px solid white;
  height: 15%;
  padding-left: 5px;
  background-color: black;
  color: white;
}

.textoLogin input:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: white;
  color: black;
}

.textoLogin form {
  width: 75%;
  padding-left: 5%;

}

.textoLogin label:last-of-type{
  padding-top: 10px;
}

.textoLogin button {
  margin-top: 3%;
  width: 90%;
}

.backLogin {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../img/backLogin.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.textoLogin a {
  padding-left: 2%;
  font-size: small;
  color: white;
  text-decoration: none;
}